<!DOCTYPE html>
<html>

<head>
  {{- partial "head.html" . -}}
  {{- block "head" . }} {{- end }}
  <title>
    {{- block "title" . }} {{- end }}
  </title>
</head>

<body class="light" onload="loading()">
  <!-- javascripts -->
  <!-- <script src="/js/jquery-3.6.0.min.js"></script> -->

  {{- partial "sections/header.html" . -}}
  <div id="content">
    {{- block "main" . }}{{- end }}
  </div>
  {{- partial "sections/footer/index.html" . -}}

  {{- if (or (eq .Site.Params.UseBootstrapCDN true) (eq .Site.Params.UseBootstrapCDN "js")) -}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  {{- else -}}
  <script src="{{ .Site.Params.staticPath }}/bootstrap-5/js/bootstrap.bundle.min.js"></script>
  {{- end -}}

  {{- partial "scripts.html" . -}}
</body>

</html>